<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Misinformation Dashboard</title>
		<link rel="stylesheet" href="../static/dashboard/dashboard.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Chart.js/3.9.1/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
		<script src="https://cdn.jsdelivr.net/npm/d3-quadtree@3"></script>
		<script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
		<script src="https://cdn.jsdelivr.net/npm/d3-force@3"></script>
		<script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
		<script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
		<script src="https://cdn.jsdelivr.net/npm/d3-scale-chromatic@3"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
		<script src="../static/dashboard/dashboard.js" type="module"></script>
	</head>
	<body>
		<div class="top-title fs-4">Reddit Dataset Dashboard</div>	
		<div class="container-fluid d-flex flex-column h-100">
			<ul class="nav nav-tabs pt-3" id="navTab">
				<li class="nav-item">
					<button class="nav-link active" id="nav-facticityTrend-tab" data-bs-toggle="tab"
						data-bs-target="#nav-facticityTrend" type="button" role="tab" aria-controls="nav-facticityTrend"
						aria-selected="true">Facticity Trend</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="nav-wordCloud-tab" data-bs-toggle="tab" data-bs-target="#nav-wordCloud"
						type="button" role="tab" aria-controls="nav-wordCloud" aria-selected="false">Word Cloud</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="nav-socialNet-tab" data-bs-toggle="tab" data-bs-target="#nav-socialNet"
						type="button" role="tab" aria-controls="nav-socialNet" aria-selected="false">Social
						Network</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="nav-checker-tab" data-bs-toggle="tab" data-bs-target="#nav-checker"
						type="button" role="tab" aria-controls="nav-checker" aria-selected="false">Misinformation
						checker</button>
				</li>
			</ul>
			<div class="tab-content h-100" id="tabContent">
				<div class="tab-pane fade show active h-100" id="nav-facticityTrend" role="tabpanel"
					aria-labelledby="nav-facticityTrend-tab" tabindex="0">
					<div class="row py-3 w-100 h-100 m-auto">
						<div class="card border-light-subtle h-100 p-0">
							<div class="theme-color-4 card-header border-light-subtle text-center fs-5">Facticity Trend
							</div>
							<div class="card-body d-flex flex-column" style="min-height: 35vh;">
								<form class="d-flex w-100" action="">
									<div class="d-flex w-100">
										<label class="text-nowrap my-auto pe-2">Date range: </label>
										<div class="d-flex">
											<div class='input-group'>
												<input type='month' class="form-control" id='startDate' />
											</div>
										</div>
										<label class="my-auto text-center mx-2">-</label>
										<div class="d-flex">
											<div class='input-group'>
												<input type='month' class="form-control" id='endDate' />
											</div>
										</div>
										<button type="button" class="btn btn-primary border-0 theme-color-3 ms-2"
											id="updateDate">Update</button>
									</div>
								</form>
								<div class="d-flex flex-fill w-100">
									<div id="lineChartLoading" class="w-100 h-100 d-none d-flex fs-4 my-2">
										<label class="text-center m-auto text-secondary d-flex">
											<span class="spinner-border spinner-border me-2 my-auto text-secondary"
												role="status" aria-hidden="true"></span>
											Loading ...
										</label>
									</div>
									<canvas id="lineChart" class="w-100 h-100"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade h-100" id="nav-wordCloud" role="tabpanel" aria-labelledby="nav-wordCloud-tab"
					tabindex="1">
					<div class="pt-2 d-flex align-items-center">
						<label for="misLimit" class="me-1">
							Number of Reddit post used to generate the word cloud
						</label>
						<div>
							<label>Misinformation: </label>
							<input type="number" class="form-control" min="10" max="2000" value="1000" id="misLimit">
							<label>(Maximum: <span id="totalMisPost"></span>)</label>
						</div>
						<div>
							<label>Factual </label>
							<input type="number" class="form-control" min="10" max="2000" value="1000" id="facLimit">
							<label>(Maximum: <span id="totalFacPost"></span>)</label>
						</div>
						<div class="ms-2">
							<button type="button" class="btn btn-primary border-0 theme-color-3 ms-2" id="updateWordCloud">Update</button>
						</div>
					</div>
					<div class="row py-2 w-100 h-100 m-auto p-0">
						<div class="col-6 p-0 pe-2">
							<div class="card border-light-subtle h-100">
								<div class="theme-color-4 card-header border-light-subtle text-center">Misinformation
								</div>
								<div class="card-body p-0 w-100 h-100">
									<div class="w-100 h-100" style="min-height: 450px;">
										<svg id="wordCloudMis"></svg>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="card border-light-subtle h-100">
								<div class="theme-color-4 card-header border-light-subtle text-center">Factual</div>
								<div class="card-body p-0">
									<div class="w-100 h-100">
										<svg id="wordCloudFac"></svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade h-100" id="nav-socialNet" role="tabpanel" aria-labelledby="nav-socialNet-tab"
					tabindex="2">
					<div class="row py-2 w-100 h-100 m-auto">
						<div class="col-6 p-0 pe-2">
							<div class="card border-light-subtle h-100">
								<div class="theme-color-4 card-header border-light-subtle text-center">Misinformation
								</div>
								<div class="card-body p-0">
									<div class="w-100 h-100">
										<svg id="socialNetMis"></svg>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 p-0">
							<div class="card border-light-subtle h-100">
								<div class="theme-color-4 card-header border-light-subtle text-center">Factual</div>
								<div class="card-body p-0">
									<div class="w-100 h-100">
										<svg id="socialNetFac"></svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade h-100" id="nav-checker" role="tabpanel" aria-labelledby="nav-checker-tab"
					tabindex="2">
					<div class="row py-2 w-100 m-auto h-100">
						<div class="card border-light-subtle h-100 p-0">
							<div class="theme-color-4 card-header border-light-subtle text-center fs-5">Misinformation
								checker</div>
							<div class="card-body d-flex flex-column">
								<div class="alert alert-warning d-flex align-items-center p-1 fs-6" role="alert">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-info-circle-fill mx-2" viewBox="0 0 16 16">
										<path
											d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
									</svg>
									<div>
										Not support to check Reddit that contains video.
									</div>
								</div>
								<form id="redditUrlForm" class="d-flex justify-content-around mb-3">
									<div class="input-group has-validation">
										<input type="text" class="form-control" id="redditPostURL"
											placeholder="Reddit post URL">
										<div class="invalid-feedback">
											Please input a valid Reddit post URL.
										</div>
									</div>
									<button type="button" class="btn btn-primary border-0 theme-color-3 ms-2"
										id="checkReddit">Check</button>
								</form>
								<hr>
								<div class="checker-result flex-grow-1 d-flex flex-column">
									<div class="flex-grow-1">
										<div class="form-label">Result <label id="checkResult" class=""></label></div>
									</div>
									<div class="flex-grow-1">
										<div class="form-label">Score <label id="checkScore"></label></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tooltip-graph" id="netTooltip"></div>
	</body>
</html>
